################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASP.NET Core/EmployeeManagement/EmployeeManagement/obj
