################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASP.NET Core/EmployeeManagement/EmployeeManagement/obj
/ASP.NET Core/EmployeeManagement/EmployeeManagement/bin/Debug/netcoreapp3.1
/ASP.NET Core/EmployeeManagement/.vs/EmployeeManagement/v16
